@use "../styles/variables/color" as color;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: color.$black;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}
