$black: #000;
$white: #fff;
// Color reference
// https://www.figma.com/community/file/1117870761972022226
// https://codepen.io/ykadosh/pen/PxvbYQ
$green-gradient: linear-gradient(0deg, #8cf21f 0%, #6adc1e 48%, #a7c12c 100%);
