$black: #000;
$white: #fff;
// Color reference
// https://www.figma.com/community/file/1117870761972022226
// https://codepen.io/ykadosh/pen/PxvbYQ
$green-gradient: linear-gradient(0deg, #8cf21f 0%, #6adc1e 48%, #a7c12c 100%);
$loader-gradient: linear-gradient(
  to right,
  #1a500b,
  #319116,
  #eab5a1,
  #b0f694,
  #7ce950,
  #90ba7f,
  #f4915e,
  #f5919e,
  #b46f89,
  #1d630a,
  #36b414
);
